/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

main>.container {
    padding: 60px 15px 0;
}

.footer {
    background-color: #f5f5f5;
}

.footer>.container {
    padding-right: 15px;
    padding-left: 15px;
}

.card-text {
    text-align: justify;
}

.lead-p{
    text-align: justify;
}

.card-footer {
    padding-left: 10px;
    padding-right: 10px;
}

.col-photo {
    background-image: url("../img/uai.jpg");
    background-size: cover;
}

.col-main-content {
    margin-top: 45px;
    margin-bottom: 45px;
}

.title-page {
    padding-top: 30px;
}

.card-main {
    min-height: 200px;
}

.researcher-text {
    font-size: 12px;
}

.researcher-img {
    height: 340px;
}

.card .researcher-img {
    background-size: cover;
}

.researcher-img{
    position:relative;
    overflow:hidden;
    padding-bottom:100%;
}